Lock/.vs/Lock/v16/.suo
Lock/.vs/Lock/v16/Server/sqlite3/db.lock
Lock/.vs/Lock/v16/Server/sqlite3/storage.ideLock/bin/Debug/Lock.exe
Lock/bin/Debug/Lock.exe.config
Lock/bin/Debug/Lock.pdbLock/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Lock/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lock/obj/Debug/Lock.csproj.FileListAbsolute.txt
Lock/obj/Debug/Lock.csproj.GenerateResource.cache
Lock/obj/Debug/Lock.csprojAssemblyReference.cache
Lock/obj/Debug/Lock.exe
Lock/obj/Debug/Lock.MainForm.resources
Lock/obj/Debug/Lock.pdb
Lock/obj/Debug/Lock.Properties.Resources.resourcesLock/bin/Debug/Lock.exe